{% extends 'base.html.twig' %}
{% block title %}Beste online Hotel Reservations
{% endblock %}


{% block slider %}
	{% include ('home/slider.html.twig') %}
{% endblock %}
{% block body %}
	<section id="maincontent">
		<div class="container">

			<div class="row">
				<div class="span12">
					<div class="call-action">

						<div class="text">
							<h2>Book Direct And Get 10% Off</h2>
							<p>
								Join Leonardo AdvantageCLUB today, it’s easy and free!
																Start earning now and collect points for free stays in one of our Leonardo Hotels.
							</p>
						</div>
						<div class="cta">
							<a class="btn btn-large btn-theme" href="/room">
								Booking
							</a>
						</div>

					</div>
					<!-- end tagline -->
				</div>
			</div>

			<div class="row">
				<div class="span3 features e_pulse">
					<img src="assets/img/dummies/Fitness.jpg" alt=""/>
					<div class="box">
						<div class="divcenter">

							<h4>Stardust Royal Hotel
								<br/>Fitness</h4>
						</div>
					</div>
				</div>

				<div class="span3 features e_pulse">
					<img src="assets/img/dummies/Massage.jpeg" alt=""/>
					<div class="box">
						<div class="divcenter">
							<h4>Stardust Royal Hotel
								<br/>Massage Room</h4>
						</div>
					</div>
				</div>

				<div class="span3 features e_pulse">
					<img src="assets/img/dummies/rest.jpg" alt=""/>
					<div class="box">
						<div class="divcenter">

							<h4>Stardust Royal Hotel
								<br/>Restaurant</h4>
						</div>
					</div>
				</div>

				<div class="span3 features e_pulse">
					<img src="assets/img/dummies/Swimming Pool.jpg" alt=""/>
					<div class="box">
						<div class="divcenter">

							<h4>Stardust Royal Hotel
								<br/>Swimming Pool</h4>
						</div>
					</div>
				</div>
			</div>

			

		</div>
	</section>
{% endblock %}
